<div class="field is-grouped is-grouped-centered">
  <div class="control is-expanded">
    <%= link_to 'Edit', edit_path, class: 'button is-link is-fullwidth' %>
  </div>
  <div class="control is-expanded">
    <%= link_to 'Delete', delete_path, method: 'delete', class: 'button is-danger is-fullwidth' %>
  </div>
</div>