<div class="field is-grouped">
  <div class="control">
    <%= f.submit 'Submit', class: 'button is-link' %>
  </div>
  <div class="control">
    <%= link_to :back do %>
      <button type="button" class="button is-link is-light">Cancel</button>
    <% end %>
  </div>
</div>