<table class="table is-bordered is-striped is-fullwidth is-hoverable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Assignee</th>
      <th>Status</th>
      <th>Tags</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% tickets.each do |ticket| %>
      <tr>
        <td>
          <%= ticket.name %>
        </td>
        <td>
          assignee
        </td>
        <td>
          <%= ticket.status.capitalize %>
        </td>
        <td>

        </td>
        <td>
          <%= render 'shared/edit_delete_buttons',
            edit_path: edit_ticket_path(ticket),
            delete_path: ticket_path(ticket)
          %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>