<%= render 'shared/heading', title_text: 'Tickets' %>

<%= render 'ticket_filter' %>

<div class="content is-large"> 
  <% if @tickets == nil %>
    <p>There are currently no tickets in the system.</p>
  <% elsif @tickets.empty? %>
    <p>No tickets matching the filter criteria.</p>
  <% else %>
    <%= render 'shared/tickets_table', tickets: @tickets %>
  <% end %>

  <% if logged_in? && !@projects.empty? %>
    <%= render 'shared/new_resource_button',
      path: new_ticket_path,
      text: 'New Ticket'
    %>
  <% end %>
</div>

