<%= render 'shared/heading', title_text: 'Projects' %>

<div class="content is-large">

  <% if @projects.empty? %>
    <p>There are currently no projects in the system.</p>
  <% else %>
    <%= render 'project_list', projects: @projects %>
  <% end %>

  <% if logged_in? %>
    <%= render 'shared/new_resource_button',
      path: new_project_path,
      text: 'New Project'
    %>
  <% end %>

</div>