<table class="table is-striped is-hoverable">
  <thead>
    <tr>
      <th>Name</th>
      <th class="has-text-centered">Tickets</th>
      <% if logged_in? %>
        <th style="width: 20%"></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% tags.each do |tag| %>
      <tr>
        <td>
          <%= tag.name %>
        </td>
        <td class="has-text-centered">
          <%= link_to tag.tag_num, controller: "tickets", 'filter[tag_id]': tag.id %>
        </td>

        <% if logged_in? %>
          <td>
            <%= render 'shared/edit_delete_buttons',
              edit_path: edit_tag_path(tag),
              delete_path: tag_path(tag)
            %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>