<%= render 'shared/heading', title_text: 'Tags' %>

<div class="content is-large">

  <% if @tags.empty? %>
    <p>There are currently no tags in the system.</p>
  <% else %>
    <%= render 'tags_table', tags: @tags, tickets: @tickets %>
  <% end %>

  <%= render 'shared/new_resource_button',
    path: new_tag_path,
    word: 'Tag'
  %>
</div>