<%= render 'shared/heading', title_text: 'Tags' %>

<div class="content is-large">
  <%= render 'tags_table', tags: @tags, tickets: @tickets %>

  <% if logged_in? %>
    <a href="<%= new_tag_path %>" class="button is-primary">
      <span class="icon is-small">
        <i class="fas fa-plus"></i>
      </span>
      <span>New Tag</span>
    </a>
  <% end %>
</div>