<%= render 'shared/heading', title_text: 'Tags' %>

<div class="content is-large">

  <% if @tags.empty? %>
    <p>There are currently no tags in the system.</p>
  <% else %>
    <%= render 'tags_table', tags: @tags, tickets: @tickets %>
  <% end %>

  <% if logged_in? %>
    <%= render 'shared/new_resource_button',
      path: new_tag_path,
      text: 'New Tag'
    %>
  <% end %>
</div>