<nav class="navbar is-fixed-top">
  <div class="navbar-brand">
    <a class="navbar-burger burger">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu">
    <div class="navbar-start">
      <%= render 'layouts/nav_link',
        path: projects_path,
        icon: "fas fa-project-diagram",
        link_text: "Projects"
      %>

      <%= render 'layouts/nav_link',
        path: tickets_path,
        icon: "fas fa-ticket-alt",
        link_text: "Tickets"
      %>

      <%= render 'layouts/nav_link',
        path: tags_path,
        icon: "fas fa-tags",
        link_text: "Tags"
      %>
    </div>

    <div class="navbar-end">

      <% if logged_in? %>
        <div class="navbar-item">
          <span class="icon">
            <i class="fas fa-info-circle"></i>
          </span>
          <span>Signed in as: <%= current_user.name %></span>
        </div>
      <% end %>

      <div class="navbar-item">
        <div class="buttons">
          <% if !logged_in? %>
            <a href="/login" class="button is-light">
              <span class="icon">
                <i class="fas fa-sign-in-alt"></i>
              </span>
              <span>
                Log In
              </span>
            </a>
            <a href="/register" class="button is-link">
              <span class="icon">
                <i class="fas fa-user-plus"></i>
              </span>
              <span>
                Sign Up
              </span>
            </a>
          <% else %>
            <a href="/logout" class="button is-link">
              <span class="icon">
                <i class="fas fa-sign-out-alt"></i>
              </span>
              <span>
                Sign Out
              </span>
            </a>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>