<nav class="navbar is-fixed-top">
  <div class="navbar-brand">
    <a class="navbar-burger burger">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item">
        <span class="icon">
          <i class="fab fa-twitter"></i>
        </span>
        <span>
          Home
        </span>
      </a>

      <a class="navbar-item">
        <span class="icon">
          <i class="fab fa-twitter"></i>
        </span>
        <span>
          Home
        </span>
      </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a href="/login" class="button is-light">
            <span class="icon">
              <i class="fab fa-twitter"></i>
            </span>
            <span>
              Log In
            </span>
          </a>
          <a href="/register" class="button is-link">
            <span class="icon">
              <i class="fab fa-twitter"></i>
            </span>
            <span>
              Sign Up
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>